body{
    margin: 0px;
    color: #40514E;
    text-align: center;
    font-family:'merriweathe'r,serif;
    /* background-color: #CFF5E7; */
}
h1{
    margin: 50px auto 0 auto;
    font-size: 562.5%;;
    font-family: 'sacramento',cursive;
    /* line-height: 2; */
    size:50px;
}
h2{
  margin: 0;
  color:#243763;
  font-weight: normal;
  font-family: 'montserrat',sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3{
  margin: 0;
  color:crimson;
  font-family: 'montserrat',sans-serif;
}
.top-container{
    background-color: #CFF5E7;
    position: relative;
    padding-top: 100px;
}
.middle-container{
   /* background-color: blueviolet;
    width: 200px;
    height: 200px;
    /*border: gold solid 20px;*/
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    /*
    width: 200px;
    height: 200px;
    /*border: gold solid 30px;
    margin-left: 500px;*/
} 

.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position: relative;
  left:500px;
}
.bottom2-cloud{
  position: absolute;
  right:400px;

}
.top2-cloud{
  position:absolute;
  left:100px;
}

.top3-cloud{
  position: relative;
  right:200px;
}

.mountain{
  position: relative;
  left: 770px ;
}

.mountain2{
  position: relative;
  right: 320px ;
}

.mountain3{
  position: absolute;
  right: 945px ;
}

.sun{
  position: relative;
  right: 200px;
}
.profile-pic{
  height :180px;
}
.table{
  border: pink 2px;
  position: relative;
  left:15%;
}
.contact-img{
  height: 30px;
  position: relative;
  top:10px
}
.skill-row{
  width:50%;
  margin :100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.program-img{

  width :25%;
  float : left;
  margin-right: 30px;
}
.photography-img{
  float: right;
}
.skiil-rating{
  text-align: center;
}
.intro{
  width :30%;
  margin: auto;
}
p{
  line-height: 2;
}
hr{
  border: dotted black 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  color: #042e30;
  font-family: 'montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
/* this propperty  help to keep clear the left or right which we have set in float we can also called it as anti float*/
/*
.photo-description{
  clear: right;

} */
/* it is for boxes movement */
/* .red {
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 200px;
}
  

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  display:inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
  
  }

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  display:inline-block;
  position:absolute;
  left:0px;
  } */
